pipeline/FuncTest.json
{
	"name": "FuncTest",
	"properties": {
		"activities": [
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "IndexFileCreation",
					"body": {
						"value": "@concat('{\n    \"storage_account\":\"', pipeline().parameters.StorageAccount, '\",\n    \"src_container_name\": \"', pipeline().parameters.ContainerName,'/',pipeline().parameters.InputDirectorName, '\",\n    \"source_file_name\": \"', pipeline().parameters.FileName, '\",\n\t\"file_size\": \"', string(activity('Get Metadata1').output.size), '\",\n\t\"last_modified\": \"', activity('Get Metadata1').output.lastModified, '\",\n\t\"rows_written\": \"', string(variables('RecordsCount')),'\"\n}')",
						"type": "Expression"
					},
					"method": "POST"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunctionTest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FuncTestJson",
						"type": "DatasetReference",
						"parameters": {
							"DirectoryName": {
								"value": "@pipeline().parameters.InputDirectorName",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							},
							"ContainerName": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string",
				"defaultValue": "data"
			},
			"InputDirectorName": {
				"type": "string",
				"defaultValue": "in"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "en_visual_studio_enterprise_2015_with_update_3_x86_x64_dvd_8923288.iso"
			},
			"StorageAccount": {
				"type": "string",
				"defaultValue": "strgaccdataflowtest"
			}
		},
		"variables": {
			"RecordsCount": {
				"type": "String",
				"defaultValue": "10022"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-24T12:23:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}